*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
}

/*-----------------Homepage Start -------------------------*/
h1, form, h5 {
	color: #0e1f45;
}

.header{
	min-height: 100vh;
	width: 100%;
}

.header-mob{
	min-height: 90vh;
	width: 100%;
}

#nav-lg-md{
	padding: 0 6%;
}	

#nav-mobile{
/*position : ??;*/
}

.logo-header{
	height: 30px;
	width: 30px;
	text-decoration: none;
}

.nav-links{
	flex: 1;
	text-align: right; 
}

.nav-links ul li{
	padding: 8px 12px;
	position: relative;
}

.menu{
	text-decoration: none;
	text-transform: uppercase;
	background: transparent;
	color: #0e1f45;
	cursor: pointer;
	position: relative;
}

span{
	background: #0e1f45;
	height: 10%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;	
}


.menu:hover span{
	width: 100%;
}

.menu:hover{
	border: none;
}

.text-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	width: 80%;
	height: 60%;
	background: rgb(236, 236, 236);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.text-box h2{
	font-size: 50px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #000;
}


.text-box-mobile {
	top: 52%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	width: 80%;
	height: fit-content;
	background: rgb(236, 236, 236);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.text-box-mobile h2{
	font-size: 50px;
}

.text-box-mobile p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #000;
}

/* -----------------Homepage End ------------------------- */

/*----------------- Projects Start ------------------------- */

.cards{
	width: 300px;
	height: 300px;
	box-sizing: border-box;
	padding: 15px 25px;	
	cursor: pointer;	
	border-radius: 10px;
	margin: 10px 15px;


	transition: transform 0.5;
	
}
.cards h3{
	color: #000;
	font-weight: 300x;
}
.cards p{
	color: #fff;
	font-weight: lighter;
	padding-top: 5%;
}


.projects h1{
	font-size: 36px;
	font-weight: 600;
}

.project-col{
	flex-basis: 31%;
	background: #b5b8ff;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}

.projects .row h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.project-col:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	transform: translateY(-15px);
}
/*
@media(max-width:700px){
	.row{
		flex-direction: column;
	}
}*/

/*----------------- Projects End ------------------------- */

/*---------------- Tools Start -----------------------*/


.tools{
	width: 80%;
	padding-top: 50px;
}

.tools-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;


}

#tools h1{
	font-size: 36px;
	font-weight: 600;
}

.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
/*	background: rgba(226, 0, 0, 0.7);*/
	background: rgba(30, 34, 120, 0.7);
}

.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3{
	bottom: 50%;
	opacity: 1;
}

.d-lg-none div div div img{
height: 7em;
width: 7em;
}

/*---------------- Tools End -----------------------*/
/*---------------- Contacts Start -----------------------*/
#contacts h1{
	font-size: 36px;
	font-weight: 600;
}

.contacts{
	width: 80%;
	padding-top: 50px;
}
#soc-med img{
	width: 40px; /* Adjust the width as needed */
	height: 40px; 
}
/*---------------- Contacts End -----------------------*/
/*---------------- Footer Start -----------------------*/


/*---------------- Footer End -----------------------*/